<div  [ngClass]="{'card-disabled': disabled}"  class="credit-card">
    <div class="card-chip"></div>
    <div class="card-number">**** **** **** {{digitosFinais}}</div>
    <div class="card-holder">
        <span>{{cardHolder}}</span>
        <div>{{nome}}</div>
        <div>Saldo Utilizado: {{saldoUtilizado | currency:'BRL'}} <i class="fas fa-arrow-down text-danger"></i></div>
        <div>Saldo Restante: {{saldoRestante | currency:'BRL'}} <i class="fas fa-arrow-up text-success"></i></div>
    </div>
    <div class="card-expiry">
        <span>FATURA</span>
        <div>--/--</div>
    </div>
    <div class="card-logo">
        <img src="assets/img/Mastercard-logo.png" alt="Card Logo" width="50">
    </div>
</div>
<div class="mt-2 text-center">
    <i class="fas fa-money-bill-wave text-success"></i> Saldo: <strong>{{saldoReferencia | currency:'BRL'}}</strong>  
</div>