<div class="row">
  <div class="col-sm-12 mb-5">
    <div class="card shadow">
      <div class="card-header">
        <h6 style="font-weight: bold;">Filtros</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="filtroForm">
        <div class="row">
          <div class="col-md-6 py-2" style="font-size: 15px;">
            <label>Data Fatura:</label>
            <input type="text" formControlName="periodo" placeholder="Selecione um período" class="form-control" [bsConfig]="{
              containerClass: 'theme-default',
              showWeekNumbers: false,
              isAnimated: true
            }" bsDaterangepicker required>
          </div>
          <div class="col-md-6 py-2" style="font-size: 15px;">
            <label>Data Lançamento:</label>
            <input type="text" placeholder="Selecione um período" class="form-control" [bsConfig]="{
              containerClass: 'theme-default',
              showWeekNumbers: false,
              isAnimated: true
            }" bsDaterangepicker required>
          </div>
        </div>
        <div class="d-flex justify-content-center">
              <button class="btn btn-primary m-2" type="button" (click)="buscar()">Buscar</button>
              <button class="btn btn-secondary m-2 ">Limpar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="faturas?.length == 0 && filtrado" class="d-flex justify-content-center">
  Não há faturas disponíveis
</div>
<div *ngIf="faturas?.length != 0" class="d-flex justify-content-center">
  <div class="row" *ngFor="let fatura of faturas">
      <div class="col-sm-12">
        Fatura --> <a class="link" style="cursor: pointer;" (click)="detalharFatura(fatura.cartao.idCartao)">Detalhes -> {{fatura.cartao.apelido}}</a>
      </div>
  </div>
  
</div>
<hr>
<div *ngFor="let group of groupedCards" class="row mb-5">
  <div class="col-sm-4 py-2" *ngFor="let card of group">
    <div class="card-container" >
    <app-card-resumo *ngIf="card.tipoCartao != 'DEBITO'" style="cursor: pointer;" [routerLink]="['/cartao/',card.idCartao]" 
      [title]=" card.vlLimiteTotal | currency:'BRL'" [cardHolder]="card.apelido"
      [limiteUtilizado]="card.vlLimiteUtilizado" [limiteRestante]="card.vlLimiteRestante"
      [limiteTotal]="card.vlLimiteTotal" [digitosFinais]="card.digitosFinais" [expires]="card.diaFechamento +'/09'" [disabled]="!card.icAtivo">
    </app-card-resumo>
  <app-card-debito *ngIf="card.tipoCartao == 'DEBITO'" style="cursor: pointer;" [routerLink]="['/cartao/',card.idCartao]" 
    [title]=" card.vlLimiteTotal | currency:'BRL'" [cardHolder]="card.apelido"
    [saldoUtilizado]="card.vlSaldoUtilizado" [saldoRestante]="card.vlSaldoRestante"
    [saldoReferencia]="card.vlSaldo" [digitosFinais]="card.digitosFinais"  [disabled]="!card.icAtivo">
  </app-card-debito>
    <button *ngIf="card.icAtivo"  class="btn btn-danger delete-btn" (click)="deleteCard(card.idCartao)">
      <i class="fas fa-trash"></i>
    </button>
  </div>
  </div>
  <hr>
</div>